<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Landis.Core" version="2.0.0" targetFramework="net461" />
  <package id="Landis.Core.Implementation" version="2.0.0" targetFramework="net461" />
  <package id="Landis.Landscapes" version="2.0.0" targetFramework="net461" />
  <package id="Landis.SpatialModeling" version="2.0.0" targetFramework="net461" />
  <package id="Landis.Utilities" version="2.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.3.0" targetFramework="net461" />
</packages>