---
---

@import "{{ site.theme }}";

// -----------------------------
// Background

body {
  background-image: url(../../BackGround_Site_FRS_Module.jpg) !important;
  // background: #e6ffcc !important; // If the image is unavailable
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
// -----------------------------


// -----------------------------
// Banner in green

#banner {
  background: #33cc33 !important;
  background-image: url(../../Background_Banner_Website.png) !important;
  border: 1px solid #009933 !important;
  
// -----------------------------
// Button of the banner in green
  
  .button {
  border: 1px solid #006600 !important;
  background: linear-gradient(rgb(212, 233, 140), rgb(170, 205, 89)) !important;
  background-color: #e6ffe6 !important;
  color:#333 !important;

  &:hover {
    background: linear-gradient(rgb(212, 233, 140), rgb(212, 233, 140)) !important;
    background-color: #ffffff !important;
          }
    
          }
  // -----------------------------
  
  // -----------------------------
  // Logo other than octocat
  
    #logo {
    background: url(../../Logo-Module-FRS.svg) !important;
  }
  
  // -----------------------------
  
  // End of banner section
        }
// -----------------------------

// -----------------------------
// Different font for title with different shadow
// and different background color for header
header {
  background: #333333 !important;

  h1 {
    font: 40px/48px 'Quantico', Helvetica, Arial, sans-serif !important;
    text-shadow: 0px 2px 0px #000000 !important;
      }
  }
// -----------------------------

// -----------------------------
// Color of the list of section
nav {

  ul {

    li {

      &.tag-h1 {
        font-size: 1.2em;
        color: #EAE8F4 !important;

        a {
          font-weight: bold;
          color: #EAE8F4 !important;
        }

        + .tag-h2 {
            color: #EAE8F4 !important;
        }
      }

      &.tag-h2 {

        + .tag-h1 {
          margin-top:10px;
          color: #EAE8F4 !important;
        }
      }
    }

    a {
      color: #EAE8F4 !important;

      &:hover { color: #ffffff !important; }
    }

    // .active {
    //   border-right:solid 4px #39C;
    //   padding-right:13px;
    // }
  }
}
// -----------------------------

// -----------------------------
// Color of the footer
footer {
  color: #EAE8F4 !important;
}
// -----------------------------

// -----------------------------
// Wrap of titles on smaller formats
@media print, screen and (max-width: 720px) {
  body {
        h1 {
      white-space: normal !important;
      overflow: visible !important;
    }
  }

  header{
  white-space: normal !important;
  padding: 25px 50px 40px 20px;

    h1 {
      white-space: normal !important;
      overflow: visible !important;
    }
    
    p { display: block !important;}
  }
  section {
    margin-top: 5px;
  }

  #banner { 
    position: fixed !important;
    top: 145px !important;
    display: block !important;
  }
  section{
    margin-top: 200px !important;
    display: block !important;
  }
  header ul {
    display:block !important;
  }
}
// -----------------------------


// -----------------------------
// Wrap of titles on mobile
@media print, screen and (max-width: 480px) {
  body {
        h1 {
      white-space: normal !important;
      overflow: visible !important;
    }
  }

  header{
    position: fixed !important;
    padding: 5px 0px !important;
    white-space: normal !important;

    h1 {
      white-space: normal !important;
      overflow: visible !important;
    }
  }
  section {
    margin-top: 5px;
  }

  #banner { 
    position: fixed !important;
    top: 120px !important;
    display: block !important;
  }
  section{
    margin-top: 180px !important;
    display: block !important;
  }
  header ul {
    display:block !important;
  }
}
// -----------------------------
