---
---

@import "{{ site.theme }}";

// -----------------------------
// Banner in green

#banner {
  background: #33cc33 !important;
  border: 1px solid #009933 !important;
  
// -----------------------------
// Button of the banner in green
  
  .button {
  border: 1px solid #006600;
  background: linear-gradient(rgb(255, 231, 136), rgb(255, 206, 56));
  border-radius: 2px;
  background-color: #e6ffe6;
  color:#333;

  &:hover {
    background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
    background-color: #ffffff;
          }
    
          }
  
  // End of banner section
        }
// -----------------------------

// -----------------------------
// Different font for title with different shadow
// and different background color for header
header {
  background: #333333 !important;

  h1 {
    font: 40px/48px 'Quantico', Helvetica, Arial, sans-serif !important;
    text-shadow: 0px 2px 0px #000000;
      }
  }
// -----------------------------

